.container {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
    min-height: 100vh;
}

.card {
    background-color: #444;
    color: white;
    border-radius: 4px;
    padding: 16px;
}

.instructions {
    padding: 8px;
    background-color: #666;
    border-radius: 4px;
    margin-top: 8px;
}

.instructions header {
    font-size: 1.15rem;
}

.card a {
    color: white;
}