.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.header {
    margin-top: 8px !important;
}

.card {
    min-width: 600px;
}